SlavePasswords = {
        'linux': 'pass',
        'try-linux': 'pass',
        'linux64': 'pass',
        'win32': 'pass',
        'try-win32': 'pass',
        'macosx': 'pass',
        'macosx-snow': 'pass',
        'try-macosx': 'pass',
        }
tuxedoUsername = 'user'
tuxedoPassword = 'passwd'
