import config
reload(config)
from config import SLAVES

ACTIVE_BRANCHES = ['mozilla-central', 'places']
L10N_SLAVES = {
    'linux': SLAVES['linux'],
    'win32': SLAVES['win32'],
    'macosx': SLAVES['macosx'],
}

execfile("master-main.cfg")

c['slavePortnum'] = 9010

from buildbot.status.html import WebStatus
c['status'].append(WebStatus(
    http_port=8010,
    allowForce=True
))
c['buildbotURL'] = 'http://staging-master.build.mozilla.org:8010/'

import buildbotcustom.misc
reload(buildbotcustom.misc)
from buildbotcustom.misc import generateBranchObjects

for branch in ACTIVE_BRANCHES:
    branchObjects = generateBranchObjects(BRANCHES[branch], branch)
    c['builders'].extend(branchObjects['builders'])
    c['schedulers'].extend(branchObjects['schedulers'])
    c['change_source'].extend(branchObjects['change_source'])
    c['status'].extend(branchObjects['status'])

import buildbotcustom.log
import buildbotcustom.l10n
reload(buildbotcustom.log)
reload(buildbotcustom.l10n)
from buildbotcustom.l10n import Scheduler as SchedulerL10n

buildbotcustom.log.init(
    scheduler = buildbotcustom.log.DEBUG,
    dispatcher = buildbotcustom.log.DEBUG
)

s = SchedulerL10n("l10n", "l10nbuilds1.ini")
c['schedulers'].append(s)

####### Buildbot Database
import buildbotcustom.status.db.status
reload(buildbotcustom.status.db.status)
from buildbotcustom.status.db.status import DBStatus

# passwords.py should be a locally available file with various passwords
# defined
import passwords
reload(passwords)
from passwords import *
c['status'].append(DBStatus("mysql://buildbot_setup:%s@tm-stage01-master01.mozilla.org/buildbot_staging" % BBDB_PASSWORD, 'staging-master1'))
