import config
reload(config)
from config import SLAVES, MAC_MINIS, XSERVES

import buildbotcustom.misc
reload(buildbotcustom.misc)
from buildbotcustom.misc import generateBranchObjects

ACTIVE_BRANCHES = ['tryserver']
# We don't need l10n slaves, but until it's not called in master-main.cfg we need them here
L10N_SLAVES = {
    'linux': SLAVES['linux'],
    'win32': SLAVES['win32'],
    'macosx': MAC_MINIS + XSERVES,
}

execfile("master-main.cfg")

c['slavePortnum'] = 9013

from buildbot.status.html import WebStatus
c['status'].append(WebStatus(
    http_port=8013,
    allowForce=True
))
c['buildbotURL'] = 'http://staging-master.mozilla.org:8013/'

for branch in ACTIVE_BRANCHES:
    branchObjects = generateBranchObjects(BRANCHES[branch], branch)
    c['builders'].extend(branchObjects['builders'])
    c['schedulers'].extend(branchObjects['schedulers'])
    c['change_source'].extend(branchObjects['change_source'])
    c['status'].extend(branchObjects['status'])
    
