import config
reload(config)
from config import SLAVES

import buildbotcustom.misc
reload(buildbotcustom.misc)
from buildbotcustom.misc import generateBranchObjects

ACTIVE_BRANCHES = ['tryserver']
# We don't need l10n slaves, but until it's not called in master-main.cfg we need them here
L10N_SLAVES = {
    'linux': [],
    'linux64': [],
    'win32': [],
    'macosx': [],
}

execfile("master-main.cfg")

# 'slavePortnum' defines the TCP port to listen on. This must match the value
# configured into the buildslaves (with their --master option)

c['slavePortnum'] = 9015

####### STATUS TARGETS

from buildbot.status import html

c['status'].append(html.WebStatus(
    http_port=8016, allowForce=True
))
c['status'].append(html.WebStatus(
    http_port=8017, allowForce=False
))
c['buildbotURL'] = 'http://build.mozillamessaging.com/buildbot/try/'

for branch in ACTIVE_BRANCHES:
    branchObjects = generateBranchObjects(BRANCHES[branch], branch)
    c['builders'].extend(branchObjects['builders'])
    c['schedulers'].extend(branchObjects['schedulers'])
    c['change_source'].extend(branchObjects['change_source'])
    c['status'].extend(branchObjects['status'])

