SlavePasswords = {
    "linux": "pass",
    "linux64": "pass",
    "fedora": "pass",
    "fedora64": "pass",
    "tiger": "pass",
    "leopard": "pass",
    "leopard-o": "pass",
    "snowleopard": "pass",
    "lion": "pass",
    "mountainlion": "pass",
    "xp": "pass",
    "win7": "pass",
    "w764": "pass",
    "vista": "pass",
    "tegra_android": "pass",
}

