SlavePasswords = {
    "linux": "pass",
    "linux64": "pass",
    "fedora": "pass",
    "fedora-b2g": "pass",
    "fedora-b2g-emulator": "pass",
    "fedora64": "pass",
    "ubuntu32_vm": "pass",
    "ubuntu32_vm-b2gdt": "pass",
    "ubuntu32_hw": "pass",
    "ubuntu64_vm": "pass",
    "ubuntu64_vm-b2g": "pass",
    "ubuntu64_vm-b2g-emulator": "pass",
    "ubuntu64_vm-b2gdt": "pass",
    "ubuntu64_hw": "pass",
    "ubuntu64_hw-b2g": "pass",
    "ubuntu64_hw-b2g-emulator": "pass",
    "tiger": "pass",
    "snowleopard": "pass",
    "lion": "pass",
    "mountainlion": "pass",
    "xp": "pass",
    "xp-ix": "pass",
    "win7": "pass",
    "win7-ix": "pass",
    "win8": "pass",
    "w764": "pass",
    "win64_vm": "pass",
    "vista": "pass",
    "tegra_android": "pass",
    "tegra_android-armv6": "pass",
    "tegra_android-noion": "pass",
    "panda_android": "pass",
    "panda_android-nomozpool": "pass",
}

datazillaAuth = {
    'talos': {
        'oauthKey': 'blahblah',
        'oauthSecret': 'blahblah',
    },
    'jetperf': {
        'oauthKey': 'blahblah',
        'oauthSecret': 'blahblah',
    },
    'test': {
        'oauthKey': '84c76536-5bea-4858-990b-434ad3bbadc1',
        'oauthSecret': '92e1d99d-fd5a-45a7-b07e-ec5a9f59c844',
    },
}
