# import/reload dance so that reconfigs work
# vim: ft=python
import os, sys

# NOTE: builder_master.cfg and universal_master_sqlite.cfg need to be kept in sync
#       as much of the logic is duplicated between them.

import buildbotcustom.misc
import buildbotcustom.status.queued_command
import master_common
import config
import thunderbird_config
import b2g_config
import master_localconfig
import build.paths
reload(buildbotcustom.misc)
reload(buildbotcustom.status.queued_command)
reload(master_common)
reload(config)
reload(thunderbird_config)
reload(b2g_config)
reload(master_localconfig)
reload(build.paths)

from master_common import BuildmasterConfig
from build.paths import getRealpath

c = BuildmasterConfig
for key, value in master_localconfig.BuildmasterConfig.items():
    if key in c:
        c[key].extend(value)
    else:
        c[key] = value

# Create our QueueDir objects
# This is reloaded in buildbotcustom.misc
from mozilla_buildtools.queuedir import QueueDir
commandsQueue = QueueDir('commands', '%s/commands' % master_localconfig.QUEUEDIR)
from buildbotcustom.status.queued_command import QueuedCommandHandler
c['status'].append(QueuedCommandHandler(
    command=[sys.executable, os.path.join(os.path.dirname(buildbotcustom.__file__), 'bin', 'postrun.py'), '-c', os.path.abspath(os.path.join(os.curdir, 'postrun.cfg'))],
    queuedir=commandsQueue,
))

from config import BRANCHES, PROJECTS
from thunderbird_config import BRANCHES as THUNDERBIRD_BRANCHES
from b2g_config import BRANCHES as B2G_BRANCHES
from master_localconfig import ACTIVE_BRANCHES, ACTIVE_PROJECTS, SLAVES, \
         ENABLE_RELEASES, ENABLE_JACUZZIS, ACTIVE_RELEASE_BRANCHES, \
         ACTIVE_MOBILE_RELEASE_BRANCHES, ACTIVE_THUNDERBIRD_BRANCHES, \
         ACTIVE_THUNDERBIRD_RELEASE_BRANCHES, ACTIVE_B2G_BRANCHES

if ENABLE_JACUZZIS is False:
    master_common.prioritizeBuilders.check_jacuzzis = False
    buildbotcustom.misc.J.jacuzzi_enabled = False
else:
    master_common.prioritizeBuilders.check_jacuzzis = True
    buildbotcustom.misc.J.jacuzzi_enabled= True

import BuildSlaves
reload(BuildSlaves)
from BuildSlaves import SlavePasswords
from buildbot.buildslave import BuildSlave

for platform, names in SLAVES.items():
    for name in names:
        c['slaves'].append(BuildSlave(name, SlavePasswords[platform], max_builds=1))

from buildbotcustom.misc import generateBranchObjects, generateProjectObjects, \
     mergeBuildObjects

# Required for sendchange
from buildbot.changes.pb import PBChangeSource
c['change_source'].append(PBChangeSource())

buildObjects = {'builders': [], 'status': [], 'change_source': [], 'schedulers': []}

import passwords
reload(passwords)

for branch in ACTIVE_BRANCHES:
    branchObjects = generateBranchObjects(BRANCHES[branch], branch,
            getattr(passwords, 'secrets', None))
    buildObjects = mergeBuildObjects(buildObjects, branchObjects)

for branch in ACTIVE_THUNDERBIRD_BRANCHES:
    branchObjects = generateBranchObjects(THUNDERBIRD_BRANCHES[branch], branch)
    # Strip away any duplicate change sources
    usefulChangeSources = []
    for cs in branchObjects['change_source']:
        if cs.branch not in [x.branch for x in buildObjects['change_source'] + usefulChangeSources]:
            usefulChangeSources.append(cs)
    branchObjects['change_source'] = usefulChangeSources
    buildObjects = mergeBuildObjects(buildObjects, branchObjects)

for branch in ACTIVE_B2G_BRANCHES:
    branchObjects = generateBranchObjects(B2G_BRANCHES[branch], branch,
            getattr(passwords, 'secrets', None))
    # Strip away any duplicate change sources
    usefulChangeSources = []
    for cs in branchObjects['change_source']:
        if cs.branch not in [x.branch for x in buildObjects['change_source'] + usefulChangeSources]:
            usefulChangeSources.append(cs)
    branchObjects['change_source'] = usefulChangeSources
    buildObjects = mergeBuildObjects(buildObjects, branchObjects)

for project in ACTIVE_PROJECTS:
    projectObjects = generateProjectObjects(project, PROJECTS[project], SLAVES)
    buildObjects = mergeBuildObjects(buildObjects, projectObjects)

# Remove duplicate change sources
for cs in buildObjects['change_source'][:]:
    while buildObjects['change_source'].count(cs) > 1:
        buildObjects['change_source'].remove(cs)

    assert buildObjects['change_source'].count(cs) == 1

c['builders'].extend(buildObjects['builders'])
c['status'].extend(buildObjects['status'])
c['change_source'].extend(buildObjects['change_source'])
c['schedulers'].extend(buildObjects['schedulers'])

if ENABLE_RELEASES:
    import buildbotcustom.process.release
    reload(buildbotcustom.process.release)
    from buildbotcustom.process.release import generateReleaseBranchObjects
    for product, sourceRepoKey, productBranches, releaseBranch in \
            [('thunderbird', 'comm', THUNDERBIRD_BRANCHES, b)
             for b in ACTIVE_THUNDERBIRD_RELEASE_BRANCHES] + \
            [('firefox', 'mozilla', BRANCHES, b)
             for b in ACTIVE_RELEASE_BRANCHES] + \
            [('fennec', 'mobile', BRANCHES, b)
             for b in ACTIVE_MOBILE_RELEASE_BRANCHES]:
        releaseBranchConfig = {}
        releaseConfigFile = "release-%s-%s.py" % (product, releaseBranch)
        execfile(releaseConfigFile, releaseBranchConfig, releaseBranchConfig)
        branchConfig = productBranches[releaseBranchConfig['releaseConfig']['sourceRepositories'][sourceRepoKey]['name']]
        releaseObjects = generateReleaseBranchObjects(
            releaseBranchConfig['releaseConfig'], branchConfig,
            releaseConfigFile=getRealpath(releaseConfigFile),
            sourceRepoKey=sourceRepoKey,
            secrets=getattr(passwords, 'secrets', None)
        )
        for key in releaseObjects.keys():
            c[key].extend(releaseObjects[key])
        from buildbot.changes.pb import PBChangeSource
        if len([cs for cs in c['change_source'] if isinstance(cs, PBChangeSource)]) < 1:
            c['change_source'].append(PBChangeSource())

c['db_url'] = "sqlite:///state.sqlite"

c['mergeRequests'] = buildbotcustom.misc.mergeRequests

if hasattr(passwords, 'PULSE_PASSWORD'):
    pulseQueue = QueueDir('pulse', '%s/pulse' % master_localconfig.QUEUEDIR)
    # Send pulse messages
    import re
    import buildbotcustom.status.pulse
    reload(buildbotcustom.status.pulse)
    from buildbotcustom.status.pulse import PulseStatus
    c['status'].append(PulseStatus(
        pulseQueue,
        ignoreBuilders=[re.compile('fuzzer-.*')],
        send_logs=False,
        ))

# c is shorthand for BuildmasterConfig, so make sure they still refer to the
# same thing
assert c is BuildmasterConfig

# Check that all our builders have branch, platform and product set
for b in c['builders']:
    assert 'properties' in b, b
    assert 'branch' in b['properties'], b
    assert 'platform' in b['properties'], b
    assert 'product' in b['properties'], b

# Check that we don't have more too many  builders for any one slave
_buildersBySlave = {}
for b in c['builders']:
    for s in b['slavenames']:
        _buildersBySlave[s] = _buildersBySlave.get(s, 0) + 1

for s, count in _buildersBySlave.items():
    # There are around 12 other PB refs used between the master and slave that
    # aren't builders
    builderLimit = 4096 - 12
    assert count <= builderLimit, "%s has %i builders; limit is %i" % (s, count, builderLimit)

del _buildersBySlave
