# -*- python -*-
# ex: set syntax=python:

# Shorthand
c = BuildmasterConfig = {}

import config
from config import *

####### BUILDSLAVES

import BuildSlaves
reload(BuildSlaves)
from BuildSlaves import SlavePasswords

from buildbot.buildslave import BuildSlave
c['slaves'] = []
for platform, names in SLAVES.items():
    for name in names:
        c['slaves'].append(BuildSlave(name, SlavePasswords[platform], max_builds=1))

buildbotcustom.misc.fastRegexes.extend([
    '-ix-',
    'xserve',
    ])

# Add in the try slave pool
for platform, names in TRY_SLAVES.items():
    for name in names:
        c['slaves'].append(BuildSlave(name, SlavePasswords[platform], max_builds=1))

# Now setup the l10n slaves. L10N_SLAVES is defined in
# master1 and master2.cfg before we get exec'ed
for branch in BRANCHES.keys():
    BRANCHES[branch]['l10n_slaves'] = L10N_SLAVES

c['change_source'] = []
c['schedulers'] = []
c['builders'] = []
c['status'] = []

from buildbot.changes.pb import PBChangeSource

c['change_source'].append(PBChangeSource())

####### PROJECT IDENTITY

# the 'projectName' string will be used to describe the project that this
# buildbot is working on. For example, it is used as the title of the
# waterfall HTML page. The 'projectURL' string will be used to provide a link
# from buildbot HTML pages to your project's home page.

c['projectName'] = "Mozilla 2"
c['projectURL'] = "http://wiki.mozilla.org/Mozilla_2"

# Cap the log size at 50 MB
c['logMaxSize'] = 50 * 1024 * 1024

# Keep 100 changes
c['changeHorizon'] = 100
